.files {
    outline: 2px dashed #000;
    background-color: rgba(24, 66, 143, 0.15);
    outline-offset: -20px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    padding: 120px 0px 85px 35%;
    text-align: center !important;
    margin: 0;
    width: 100% !important;
    filter: alpha(opacity: 0);
    height:124px;
}

.files input{
    top:0;
    left:0;
    opacity:0;
    width:100%;
    height:100%;
    margin:0;
    outline:none;
    position:absolute;
    cursor:pointer;
}



    .files input:focus {
        background-color: rgba(24, 66, 143, 0.2);
        outline-offset: -17px;
        -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
        transition: outline-offset .15s ease-in-out, background-color .15s linear;
        outline: 2px dashed #000000;
    }

.color input {
    background-color: rgba(24, 66, 143, 0.15);
}

.files {
    position: relative
}

    .files:after {
        pointer-events: none;
        position: absolute;
        top: 60px;
        left: 0;
        width: 50px;
        right: 0;
        height: 56px;
        content: "";
        background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
        display: block;
        margin: 0 auto;
        background-size: 100%;
        background-repeat: no-repeat;
    }



    .files:before {
        position: absolute;
        bottom: 10px;
        left: 0;
        pointer-events: none;
        width: 100%;
        right: 0;
        height: 57px;
        content: "Drag & Drop File";
        display: block;
        margin: 0 auto;
        color: black;
        font-weight: 600;
        text-transform: capitalize;
        text-align: center;
    }


.form-group{
    margin-top:30px;
}

div.simulator {
    background-image: url("../image/simulator.svg");
    float: right;
    width: 443px;
    height:343px;
    object-fit: cover;
    background-repeat:no-repeat;
}

.topPanel,.bottomPanel {
    width: 100%;
    padding: 0px;
    text-align: center;
    margin-right: 1px;
    margin-left: 5px;
}

div.topPanel {
    margin-top: 25px;
    height: 196px;
    font-family: Roboto-Regular;
    text-align: center;
    vertical-align: middle;
}

div.bottomPanel {
    height: 52px;
    margin-top: 3px;
}

.banner1, .banner2, .banner3, .banner4 {
    padding: 0px;
    height: 100%;
    border-radius: 4px;
}

.banner1, .banner2 {
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

div.banner1 {
    background-color: #d1d9e9;
    width: 349px;
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
}

div.banner2 {
    margin-left: 3px;
    width: 51px;
    background-color: #b5c2db;
    font-size:14px;
}

div.banner2 img{
   width:100%;
   height:100%;
}


div.banner3 {
    width: 245px;
    background-color: #eee8dd;
}


div.banner4 {
    margin-left: 107px;
    width: 50px;
    background-color: #eee8dd;
}






