.slide-effect .location-button {
    background-color: rgba(55, 90, 155, 0.2);
    padding: 15px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0b0b0b;
    margin-bottom: 0px;
    cursor: pointer;
}

.closeBtn {
    background-color: transparent;
    background-image: url("../../images/close.svg");
    width: 28px;
    height: 28px;
    border-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom:1px;
}

.slide-effect .location-detail {
    background-color: #fff;
    padding: 15px;
    display: none;
}

    .slide-effect .location-detail li {
        list-style-type: none;
    }          

        .slide-effect .location-detail li a {
            font-family: Roboto;
            font-size: 16px;
            font-weight: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #0b0b0b;
            display: flex;
            align-items: center;
            width: 100%;
            padding: 0 0px 6px 0px;
            text-decoration: none;
        }

        .slide-effect .location-detail li a i {
                margin-right: 8px;
                width: 16px;
                text-align: center;
        }

.icon-30 {
    width: 30px;
    text-align: center;
    margin-right: 12px;
}

    .icon-30 .icon {
        max-width: 30px;
    }

/*home*/

/*Custom*/
.slide-effect .expand li a {
    max-height: 500px;
    transition: max-height 2s ease-out;
    display: flex;
}


.slide-effect .collapse li a {
    max-height: 0;
    transition: max-height 0.5s ease-in;
}



.slide-effect .collapse ul {
    border-bottom: 5px solid red;
}
/*Custom*/
.menu {
    background-color: white;
    font-family: Roboto-Regular;
    font-weight: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0b0b0b;
    cursor: pointer;
    border-bottom: 1px solid;
    border-bottom-color: #f1f2f6;
}

    .menu .location-button {
        background-color: white;
        padding: 15px 16px;
        font-family: Roboto-Regular;
        font-size: 18px;
        font-weight: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #0b0b0b;
        margin-bottom: 0px;
        cursor: pointer;
    }

    .menu .location-button-clicked {
        background-color:rgba(155, 120, 55, 1);
        padding: 15px 15px 13px 16px;
        font-family: Roboto-Regular;
        font-size: 18px;
        font-weight: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #0b0b0b;
        margin-bottom: 0px;
        cursor: pointer;
    }




    .menu .list {
        background-color: #fff;
        max-height: 0;
        transition: max-height 0.5s ease-in;
        overflow: hidden;
        list-style-type: none;
        padding-left: 15px;
        margin-bottom: 0px;
    }

    .menu .list_x {
        background-color: #fff;
        width: 100%;
        font-size: 16px;
        max-height: 500px;
        transition: max-height 0.8s ease-out;
        overflow: hidden;
        list-style-type: none;
        padding: 16px 15px 50px 15px;
        border-bottom: 18px solid;
        border-bottom-color: #f1f2f6;
        margin-bottom: 0px;
    }


    .menu > li {
        display: inline-block;
        float: left;
        height: 30px;
        width: 130px;
        line-height: 30px;
    }
li {
    vertical-align: middle;
    margin: 0 0 10px 0;
}

.menu > li > .icon-30 {
    display: block;
    float: left;
    margin-right: 12px;
    width: 30px;
    height: 30px;
    max-width: 30px;
    text-align: center;
}
.modalView {
    background: #fff;
    border-radius: 4px;
    width: 90%;
    height: 90%;
    margin: 20px auto;
    padding: 15px;
    position: fixed;
    z-index:3;
    top: 0;
    left: 150px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
}

.modalNew {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding-top:20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    height: 50%;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    text-align:right;
}

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }


    /* Style to be checked*/


.textFieldStyle {
    width: 360px;
    height: 60px !important;
    border-radius: 4px;
    border: solid 1px #888;
/*TODO
    remove one of them
*/
    padding: 12px;
    padding: 10px 15px 5px 15px;
}


form {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
}