/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

code {
    color: #E01A76;
}

* {
    font-family: Roboto;
}

    .btn-primary {
        color: #fff;
        background-color: #18428f;
        border-color: #1861ac;
    }
/*TODO:

    Should should use one style only and override yhe specific components
*/




/*home*/
.tracking-page {
    display: inline-block;
    width: 100%;
    height: 100%;
}

header {
    position: fixed;
    width: 100%;
    z-index: 99;
    top: 0;
}

.mt-57 {
    margin-top: 57px;
}

header nav {
    background-color: #fff;
}

.navbar-expand-sm .navbar-collapse.collapse {
    display: flex !important;
}

    .navbar-expand-sm .navbar-collapse.collapse .nav-item {
        font-size: 18px;
    }

.profile p {
    
    font-size: 24px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0b0b0b;
    width: calc(100% - 80px);
    display: inline-block;
    margin-bottom: 0px;
    margin-left: 10px;
}

.left-panel {
    top:0;
    max-width: 283px;
    width: 100%;
    position: fixed !important;
    background-color: #fff;
    z-index: 2;
    top: 56px;
    overflow: auto;
    border-right: 1px solid #0b0b0b;
    padding-right: 0px !important;
}

    .left-panel .sb-content::-webkit-scrollbar {
        width: 0px;
    }

    .left-panel .sb-scrollbar-container {
        width: 0px;
    }

        .left-panel .sb-scrollbar-container .sb-scrollbar {
            width: 0px;
        }

    .left-panel .sb-content {
        padding-right: 0px !important;
        width: 100%;
    }

.right-part {
    width: calc(100% - 283px);
    float: right;
}

    .right-part .mpas-tracking {
        height: calc(100vh - 5px);
    }

.profile {
    width: 100%;
    padding: 30px 0px 20px 15px;
}

    .profile .bitmap {
        width: 70px;
        height: 70px;
        object-fit: cover;
        margin-bottom: 0px !important;
        border-radius: 50%;
        overflow: hidden;
    }


    .profile .title{
        font-size: 20px;
    }

    .profile .subTitle{
        font-size: 16px;
        margin-top: 5px;
    }

.menu-part {
    padding-bottom: 22px;
    border-bottom: 1px solid black;
}

    .menu-part ul {
        padding: 0;
        margin: 0;
    }

    .menu-part li {
        margin-bottom:0px;
        list-style: none;
        padding: 12px 37px;
    }

        .menu-part li.active,
        .menu-part li:hover {
            background-color: rgba(234,237,237,1);
        }

        .menu-part li a .menu-icon {
            margin-right: 9px;
            font-size: 20px;
        }

        .menu-part li a {
            
            font-size: 16px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #0b0b0b;
            text-decoration: none;
            display: flex;
            align-items: center;
        }

.icon-22 {
    width: 22px;
    height: 22px;
    display: inline-block;
    margin-right: 15px;
    text-align: center;
}

    .icon-22 .menu-icon {
        max-width: 22px;
    }

.tab-button {
    padding: 20px 15px;
}

    .tab-button .custom-butt {
        border-radius: 10px;
        padding: 8px 10px;
        max-width: 50%;
        width: 100%;
        border: 0;
        background-color: transparent;
        outline: none !important;
    }

    .tab-button .button-back {
        border-radius: 10px;
        background-color: #edeeef;
        padding: 2px;
        position: relative;
    }

.notification-duty-off {
    width: 30px;
    height: 30px;
    box-shadow: 0 0 4px 0 rgba(105, 105, 105, 0.5);
    border: solid 1px #18428f;
    background-color: #feffff;
    border-radius: 50%;
    
    font-size: 16px;
    font-weight: normal;
    font-style: inherit;
    color: #18428f;
    text-align: center;
    line-height: 30px;
    position: absolute;
    right: -5px;
    bottom: -6px;
    cursor: pointer;
}

.tab-button .custom-butt.active {
    box-shadow: 0 0 1px 0 rgba(99, 96, 96, 0.5);
    background-color: #feffff;
}

.scroll-hide {
    height: 100%;
}

.overfollow-scroll {
    height: 100%;
}

.search-main {
    background-color: #f1f2f6;
    /*font-family: Roboto-Regular;*/
    display: flex;
    font-size: 16px;
    height: 100%;
    width: 100%;
    overflow: auto;
    align-items: center;
    justify-content: center;
    overflow: scroll;
    padding-right: 0px !important;
}

.search-mainVehicle {
    background-color: #f1f2f6;
    font-size: 16px;
    height: 100%;
    width: 100%;
    overflow: auto;
    align-items: center;
    justify-content: center;
    overflow: scroll;
    padding-right: 0px !important;
}

.search-main p {
    top: 50%;
    left: 50%;
}

    .search-main::-webkit-scrollbar {
        width: 0px;
    }

    


.result-not-found p {
    
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #696969;
    margin-bottom: 0;
}

.result-not-found {
    width: 100%;
    text-align: center;
    display: none;
}

.relative {
    position: relative;
    height: 100%;
}

.search-part {
    position: relative;
    left: 0;
    padding: 16px 5px;
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #f5f5f5;
    bottom: 0;
    max-width: 282px;
}

.search-relative {
    position: relative;
    width: 100%;
}

.search-part .search {
    border-radius: 4px;
    border:  black 1px solid;
    background-color: #ffffff;
    padding: 10px 40px;
    width: 100%;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0b0b0b;
}

.search-part .fa-search {
    position: absolute;
    font-size: 20px;
    left: 13px;
    top: 11px;
    color: #18428f;
}

.search-part .cross-icon {
    background: url(../src/components/images/cross-image.png);
    position: absolute;
    right: 9px;
    top: 10px;
    width: 25px;
    height: 25px;
}

    .search-part .cross-icon img {
        max-width: 100%;
    }



.search-result {
    height: 100%;
    margin: 0px;
    width: 100%;
    background-color: rgba(234,237,237,1);
}

    .search-result p {
        
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #666869;
        margin-bottom: 6px;
        padding: 0 15px;
    }




.icon-30 {
    width: 30px;
    text-align: center;
    margin-right: 10px;
}

    .icon-30 .icon {
        max-width: 30px;
        background-size:contain;
    }

/*home*/

/*Custom*/
.slide-effect .expand li a {
   /* font-family: Roboto-Regular;*/
    height: 100%;
    transform-origin: top;
    transition: transform 2s ease-out;
    transform: scaleY(1);
    display: block;
    width: 100%;
    display: flex;
    list-style-type: none;
}

.collapse {
    height: 0;
    transform: scaleY(0);
    display: none;
    list-style: none;
}

.slide-effect .collapse ul {
    border-bottom: 5px solid red;
}
/*Custom*/
/*vehicles*/
.padding-lr-80 {
    padding: 0 80px;
}

.top-part-vehicles-search .hehading-add-butt {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.hehading-add-butt h3 {
    font-size: 35px;
    font-weight: bold;
    line-height: normal;
    letter-spacing: normal;
    color: black;
    margin-bottom: 0;
}

.hehading-add-butt .vehicle-add-butt {
    
    font-size: 16px;
    font-weight: bold;
    line-height: normal;
    letter-spacing: normal;
    color: #18428f;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}

.top-part-vehicles-search {
    top:0px;
    padding-bottom: 30px;
    position: sticky;
    padding-top: 68px;
    background-color: #fff;
    border-bottom: 0px solid #dee2e6;
    z-index: 1;
}

    .top-part-vehicles-search .search-part {
        position: relative;
        max-width: 100%;
        border: 0px;
        padding: 0;
    }

/* .table {
    margin-bottom: 0px !important;
} */

/*testing*/
.table-list {
    width: 100%;
}

.table-list table {
    width: 100%;
    font-size: 18px;
    border: 0px;
    background-color: white;
    table-layout: fixed;
}

.table-list table thead,tbody tr{
    height: 50px;
    box-shadow: 0px 0.3px rgba(0, 0, 0, 0.5);
    border-top: 0px;
    vertical-align: middle;
}

.table-list > table > tr th,td{
    text-align: left;
    align-content: space-around;
    justify-content: space-between;
    word-break: break-word;
} 

/* .table-list > table > th,td:last-child{
    border: lightpink solid 1px;
    width: 40px;
}  */




.table-list > table > tbody > tr:hover{
    background-color: rgba(24, 66, 143, 0.15);
}

.table-list table tr:hover .edit-delet-butt {
    opacity: 1;
}

.width44 {
    column-width:30px;
    width: 30px;
    text-align: center;
}

/*testing*/



.edit-delet-butt {
    width: 44px;
    height: 51px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
    opacity: 0;
    cursor: pointer;
}

    .edit-delet-butt.active {
        background-color: rgba(24, 66, 143, 0.2);
        opacity: 1;
    }

.edit-popup {
    position: relative;
    width: 44px;
}

  

    .edit-delet-butt span {
        width: 5px;
        height: 5px;
        background-color: #423429;
        display: block;
        border-radius: 50%;
        margin-bottom: 3px;
    }

.edit-delet-butt.active span {
    background-color: #18428f;
}

.edit-delet-link {
    width: 236px;
    box-shadow: 0 0 4px 0 rgba(24, 66, 143, 0.3);
    background-color: #ffffff;
    padding: 0;
    margin: 0;
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 10;
}


    .edit-delet-link li {
        list-style: none;
        width: 100%;
        margin-bottom:0px;
        border-bottom: 1px solid rgba(24, 66, 143, 0.3);
    }


        .edit-delet-link li:hover a {
            background-color: #f3f3f3;
        }


        .edit-delet-link li a {
            font-size: 16px;
            font-weight: normal;
            line-height: normal;
            letter-spacing: normal;
            
            color: black;
            display: inline-block;
            width: 100%;
            padding: 20px 20px;
            text-align: left;
            text-decoration: none;
        }

.edit-popup:hover .edit-delet-link {
    display: inline-block;
}


img {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}


@media (max-width: 1399px) {
    .search-main,.search-mainVehicle {
        height: 70vh;
    }
}

@media (min-width: 1440px) {
    .search-main,.search-mainVehicle {
        height: 80vh;
    }
}

@media (min-width: 1650px) {
    .search-main {
        height: 70vh;
    }
}

@media (min-width: 1720px) {
    .search-main,.search-mainVehicle {
        height: 51vh;
    }
}

@media (min-width: 1920px) {
    .search-main,.search-mainVehicle {
        height: 80vh;
    }
}



